@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?vwtzd4');
  src:  url('../fonts/icomoon.eot?vwtzd4#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vwtzd4') format('truetype'),
    url('../fonts/icomoon.woff?vwtzd4') format('woff'),
    url('../fonts/icomoon.svg?vwtzd4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}


.icon-notebook:before {
  content: "\e9bf";
}
.icon-device_desktop_cog:before {
  content: "\e9a8";
}
.icon-file_settings:before {
  content: "\e9af";
}
.icon-provider:before {
  content: "\e9b2";
}
.icon-world_code:before {
  content: "\e9b9";
}
.icon-device_desktop_check:before {
  content: "\e9be";
}
.icon-receipt:before {
  content: "\e9ad";
}
.icon-file_code_2:before {
  content: "\e9ae";
}
.icon-certificate:before {
  content: "\e9b0";
}
.icon-brightness_2:before {
  content: "\e9b1";
}
.icon-database_plus:before {
  content: "\e9b3";
}
.icon-hierarchy_3:before {
  content: "\e9b4";
}
.icon-list_details:before {
  content: "\e9b5";
}
.icon-zoom_code:before {
  content: "\e9b6";
}
.icon-code_circle:before {
  content: "\e9b7";
}
.icon-world_cog:before {
  content: "\e9b8";
}
.icon-report_medical:before {
  content: "\e9ba";
}
.icon-report_search:before {
  content: "\e9bb";
}
.icon-forms:before {
  content: "\e9bc";
}
.icon-input_search:before {
  content: "\e9bd";
}
.icon-user_check:before {
  content: "\e9ac";
}
.icon-consumer:before {
  content: "\e9a7";
}
.icon-repeat:before {
  content: "\e9a9";
}
.icon-report_off:before {
  content: "\e9aa";
}
.icon-circle:before {
  content: "\e9ab";
}
.icon-trash_x:before {
  content: "\e9a6";
}
.icon-copy:before {
  content: "\e9a1";
}
.icon-layout_grid_add:before {
  content: "\e9a2";
}
.icon-template:before {
  content: "\e9a3";
}
.icon-clipboard_copy:before {
  content: "\e9a4";
}
.icon-text_size:before {
  content: "\e9a5";
}
.icon-common_link_ds:before {
  content: "\e991";
}
.icon-asset_edit_ds:before {
  content: "\e98f";
}
.icon-bell:before {
  content: "\e990";
}
.icon-security_ds:before {
  content: "\e992";
}
.icon-user_ds:before {
  content: "\e993";
}
.icon-contract_ds:before {
  content: "\e994";
}
.icon-idc_ds:before {
  content: "\e995";
}
.icon-edc_ds:before {
  content: "\e996";
}
.icon-da_ds:before {
  content: "\e997";
}
.icon-classification_ds:before {
  content: "\e998";
}
.icon-item_ds:before {
  content: "\e999";
}
.icon-db_ds:before {
  content: "\e99a";
}
.icon-alarm_ds:before {
  content: "\e99b";
}
.icon-company_ds:before {
  content: "\e99c";
}
.icon-common_tag_ds:before {
  content: "\e99d";
}
.icon-progress_check:before {
  content: "\e99e";
}
.icon-list_search:before {
  content: "\e99f";
}
.icon-treeviewicon:before {
  content: "\e9a0";
}
.icon-screen_share:before {
  content: "\e989";
}
.icon-usb:before {
  content: "\e98a";
}
.icon-transform:before {
  content: "\e98b";
}
.icon-message_circle:before {
  content: "\e98c";
}
.icon-tag:before {
  content: "\e98d";
}
.icon-components:before {
  content: "\e98e";
}
.icon-arrow_drop_down:before {
  content: "\e988";
}
.icon-relearning:before {
  content: "\e987";
}
.icon-augmented_reality:before {
  content: "\e946";
}
.icon-InResult:before {
  content: "\e973";
}
.icon-packages:before {
  content: "\e97c";
}
.icon-temperature_plus:before {
  content: "\e97f";
}
.icon-progress_bolt:before {
  content: "\e984";
}
.icon-graph:before {
  content: "\e985";
}
.icon-clipboard_check:before {
  content: "\e986";
}
.icon-compass:before {
  content: "\e96f";
}
.icon-file_analytics:before {
  content: "\e970";
}
.icon-loader:before {
  content: "\e971";
}
.icon-eye_table:before {
  content: "\e972";
}
.icon-current_location:before {
  content: "\e974";
}
.icon-chart_area_line:before {
  content: "\e975";
}
.icon-clock:before {
  content: "\e976";
}
.icon-tournament:before {
  content: "\e977";
}
.icon-chart_infographic:before {
  content: "\e978";
}
.icon-license:before {
  content: "\e979";
}
.icon-circuit_resistor:before {
  content: "\e97a";
}
.icon-abacus:before {
  content: "\e97b";
}
.icon-location:before {
  content: "\e97d";
}
.icon-checklist:before {
  content: "\e97e";
}
.icon-select_all:before {
  content: "\e980";
}
.icon-triangle_off:before {
  content: "\e981";
}
.icon-circle_check:before {
  content: "\e982";
}
.icon-download:before {
  content: "\e983";
}
.icon-alert_circle:before {
  content: "\e96d";
}
.icon-alert_circle_filled:before {
  content: "\e96e";
}
.icon-alert_triangle_filled:before {
  content: "\e96c";
}
.icon-check_circle:before {
  content: "\e969";
}
.icon-high:before {
  content: "\e96a";
}
.icon-low:before {
  content: "\e96b";
}
.icon-adjustments:before {
  content: "\e900";
}
.icon-alert_octagon:before {
  content: "\e901";
}
.icon-alert_triangle:before {
  content: "\e902";
}
.icon-align_center:before {
  content: "\e903";
}
.icon-align_left:before {
  content: "\e904";
}
.icon-align_right:before {
  content: "\e905";
}
.icon-apps:before {
  content: "\e906";
}
.icon-arrow_bar_to_down:before {
  content: "\e907";
}
.icon-arrow_bar_to_up:before {
  content: "\e908";
}
.icon-arrow_down:before {
  content: "\e909";
}
.icon-arrow_move_left:before {
  content: "\e90a";
}
.icon-arrow_narrow_down:before {
  content: "\e90b";
}
.icon-arrow_narrow_up:before {
  content: "\e90c";
}
.icon-arrows_maximize:before {
  content: "\e90d";
}
.icon-arrows_minimize:before {
  content: "\e90e";
}
.icon-atom:before {
  content: "\e90f";
}
.icon-bookmark:before {
  content: "\e910";
}
.icon-bookmark_fill:before {
  content: "\e911";
}
.icon-bookmarks:before {
  content: "\e912";
}
.icon-books_off:before {
  content: "\e913";
}
.icon-browser:before {
  content: "\e914";
}
.icon-business:before {
  content: "\e915";
}
.icon-calendar_check:before {
  content: "\e916";
}
.icon-camera:before {
  content: "\e917";
}
.icon-card:before {
  content: "\e918";
}
.icon-cctv:before {
  content: "\e919";
}
.icon-chart:before {
  content: "\e91a";
}
.icon-chart_bar:before {
  content: "\e91b";
}
.icon-chart_donut:before {
  content: "\e91c";
}
.icon-chart_pie:before {
  content: "\e91d";
}
.icon-chart_radar:before {
  content: "\e91e";
}
.icon-check:before {
  content: "\e91f";
}
.icon-chevron_left:before {
  content: "\e920";
}
.icon-chevron_right:before {
  content: "\e921";
}
.icon-click:before {
  content: "\e922";
}
.icon-clipboard:before {
  content: "\e923";
}
.icon-coins:before {
  content: "\e924";
}
.icon-computer_cam_off:before {
  content: "\e925";
}
.icon-computer_cog:before {
  content: "\e926";
}
.icon-cooker:before {
  content: "\e927";
}
.icon-cpu:before {
  content: "\e928";
}
.icon-database:before {
  content: "\e929";
}
.icon-database_cog:before {
  content: "\e92a";
}
.icon-database_edit:before {
  content: "\e92b";
}
.icon-database_x:before {
  content: "\e92c";
}
.icon-detail:before {
  content: "\e92d";
}
.icon-device_analytics:before {
  content: "\e92e";
}
.icon-dg:before {
  content: "\e92f";
}
.icon-dots:before {
  content: "\e930";
}
.icon-edit:before {
  content: "\e931";
}
.icon-file_certificate:before {
  content: "\e932";
}
.icon-file_description:before {
  content: "\e933";
}
.icon-file_search:before {
  content: "\e934";
}
.icon-format_bold:before {
  content: "\e935";
}
.icon-format_italic:before {
  content: "\e936";
}
.icon-FwEtc:before {
  content: "\e937";
}
.icon-FwItems:before {
  content: "\e938";
}
.icon-FwMachines:before {
  content: "\e939";
}
.icon-FwMasters:before {
  content: "\e93a";
}
.icon-FwMenus:before {
  content: "\e93b";
}
.icon-FwOperations:before {
  content: "\e93c";
}
.icon-FwQualitys:before {
  content: "\e93d";
}
.icon-FwRaws:before {
  content: "\e93e";
}
.icon-FwSecuritys:before {
  content: "\e93f";
}
.icon-FwUsers:before {
  content: "\e940";
}
.icon-id:before {
  content: "\e941";
}
.icon-image:before {
  content: "\e942";
}
.icon-info_circle:before {
  content: "\e943";
}
.icon-info_hexagon:before {
  content: "\e944";
}
.icon-InMaster:before {
  content: "\e945";
}
.icon-InShooting:before {
  content: "\e947";
}
.icon-language:before {
  content: "\e948";
}
.icon-list_check:before {
  content: "\e949";
}
.icon-mail:before {
  content: "\e94a";
}
.icon-menu:before {
  content: "\e94b";
}
.icon-menu_open:before {
  content: "\e94c";
}
.icon-minus:before {
  content: "\e94d";
}
.icon-mouse:before {
  content: "\e94e";
  color: #344054;
}
.icon-null:before {
  content: "\e94f";
}
.icon-phone:before {
  content: "\e950";
}
.icon-photo_cancel:before {
  content: "\e951";
}
.icon-photo_down:before {
  content: "\e952";
}
.icon-plus:before {
  content: "\e953";
}
.icon-QltAnalysises:before {
  content: "\e954";
}
.icon-QltMasters:before {
  content: "\e955";
}
.icon-question_circle:before {
  content: "\e956";
}
.icon-RcpAnalysises:before {
  content: "\e957";
}
.icon-RcpMasters:before {
  content: "\e958";
}
.icon-reload:before {
  content: "\e959";
}
.icon-search:before {
  content: "\e95a";
}
.icon-sequence:before {
  content: "\e95b";
}
.icon-setting:before {
  content: "\e95c";
}
.icon-sort_numbers:before {
  content: "\e95d";
}
.icon-stereo_glasses:before {
  content: "\e95e";
}
.icon-text:before {
  content: "\e95f";
}
.icon-trash:before {
  content: "\e960";
}
.icon-triangle_square_circle:before {
  content: "\e961";
}
.icon-user_circle:before {
  content: "\e962";
}
.icon-vertical_align_bottom:before {
  content: "\e963";
}
.icon-vertical_align_center:before {
  content: "\e964";
}
.icon-vertical_align_top:before {
  content: "\e965";
}
.icon-x:before {
  content: "\e966";
}
.icon-x_circle:before {
  content: "\e967";
}
.icon-zoom_in:before {
  content: "\e968";
}



.icon-chevron_right:before {
  margin-top: 1px;
}
.icon-null:after {
  content: attr(initial);
  position: absolute;
  top: calc(50% - 1px);
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0F172A;
  font-size: 13px;
  font-weight: bold;
  line-height: 24px;
  padding-bottom: 1px;
}
.icon-excel {
  background: center/ contain url("../images/icon-excel.svg") no-repeat;
}
.icon-lan_kor {
  background: center/ contain url("../images/icon-lan_kor.svg") no-repeat;
}
.icon-lan_en {
  background: center/ contain url("../images/icon-lan_en.svg") no-repeat;
}