<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div
        style={{ top: position.top, left: position.left, display: hidden ? 'none' : '' }}
        class="tooltip //top //bottom //left //right"
    >
        <div class="content">
            <p class="text">
                <
            </p>
        </div>
    </div>
</body>
</html>
